[Unit]
Description=Service to controll the relay board

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /home/pi/rolling-shutter-controller/controller/app.py
WorkingDirectory=/home/pi/rolling-shutter-controller/controller

[Install]
WantedBy=multi-user.target